[user]
        name = yaginuuu
        email = yaginuuu56@gmail.com
[color]
        ui = true
[core]
        excludesfile = /Users/yaginuuu/.gitignore
        editor = vim -c \"set fenc=utf-8\" -u NONE
[alias]
        l = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
        df = diff --word-diff
