[user]
        name = yaginuuu
        email = yaginuuu56@gmail.com
[color]
        ui = true
[core]
        excludesfile = /Users/yaginuuu/.gitignore
        editor = vim -c \"set fenc=utf-8\" -u NONE
