[user]
        name = yaginuuu
        email = yaginuuu56@gmail.com
[color]
        ui = true
[core]
	excludesfile = /Users/yaginuma.takuya/.gitignore
        editor = vim -c \"set fenc=utf-8\" -u NONE
[alias]
        logs  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        difff = diff --word-diff
